.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  gap: 30px;
  color: black;
  width: 350px;
  margin: auto;
  border: 1px solid gray;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.App-header{
  font-size: 25px;
  font-weight: 600;
}
.labels{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tenure{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tenure>button{
  border-radius:20px;
  width: 55px;
  height: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tenure>button:hover{
  background-color: rgb(27, 109, 136);
  color: white;
}

.tenureSelected{
  color: white;
  background-color: blue;
}
.slider{
  width: 100%;
}